Django==4.2.7
requests==2.31.0
python-dotenv==1.0.0
django-cors-headers
opencv-python-headless
tensorflow==2.15.0
numpy==1.26.4
pillow
h5py==3.9.0
google-generativeai
gunicorn==21.2.0
whitenoise==6.6.0
psycopg2-binary==2.9.9
